<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6864cd">  <td>18/01/22 09:40:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.orangehrmlive.aut.LoginTest@6e0d4a8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@773238925</td>   <td></td> </tr>
<tr bgcolor="6864cd">  <td>18/01/22 09:39:28</td>   <td>-33203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin()[pri:0, instance:com.orangehrmlive.aut.LoginTest@6e0d4a8]">testLogin</td> 
  <td>main@773238925</td>   <td></td> </tr>
</table>
